footer {
  a: c;
}
footer #footer {
  a: c;
}
footer #footer div.wrap {
  a: c;
}
footer #footer div.wrap div.address {
  a: c;
}
footer #footer div.wrap div.address h2 {
  a: c;
}
footer #footer div.wrap div.address h2 a {
  a: c;
}
footer #footer div.wrap div.address address {
  a: c;
}
footer #footer div.wrap div.address address p {
  a: c;
}
footer #footer div.wrap div.address p {
  a: c;
}
footer #footer div.wrap div.address div.sns {
  a: c;
}
footer #footer div.wrap div.address div.sns a {
  a: c;
}
footer #footer div.wrap div.address div.sns a img {
  a: c;
}
footer #footer div.wrap div.quick {
  a: c;
}
footer #footer div.wrap div.quick nav {
  a: c;
}
footer #footer div.wrap div.quick nav strong {
  a: c;
}
footer #footer div.wrap div.quick nav ul {
  a: c;
}
footer #footer div.wrap div.quick nav ul li {
  a: c;
}
footer #footer div.wrap div.quick nav ul li a {
  a: c;
}
footer #footer div.wrap div.family {
  a: c;
}
footer #footer div.wrap div.family nav {
  a: c;
}
footer #footer div.wrap div.family nav strong {
  a: c;
}
footer #footer div.wrap div.family nav ul {
  a: c;
}
footer #footer div.wrap div.family nav ul li {
  a: c;
}
footer #footer div.wrap div.family nav ul li a {
  a: c;
}